<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Teste</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css"></link>
		<script type="text/javascript" src="js/scripts.js"></script>
	</head>

	<body>
		<div class="container">
			<div class="main_container"> 
				<h2 class="title">Mandar arquivo</h2>	
				<div class="login_container">
					<form action="http://18.228.37.18:3031/send" method="post" enctype="multipart/form-data">
				      <input type="file" name="filetoupload"><br>
				      <input type="submit">
				    </form>
				</div>
			</div>
		</div>
	</body>
</html>