html,body{
	margin: 0;
    padding: 0;
    text-align: center;
}

body{
	background-color:#2b2b2b;
}

.main_container{
	margin-top:40px;
	margin-left:500px;
	margin-right:500px;
}

.container{
	height:650px;
}

.login_container{
	height:wrap;
	background-color:#FF00FF;
	padding-left:40px;
	padding-right:40px;
	padding-top:40px;
}

.login_container h2{
	margin-top:40px;
	padding-bottom:17px;
}

.container h2{
	color:white; 
}

.container h3{
	color:white;
}

.title{
	margin-bottom:20px;
	font-weight: bold;
}